* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  scroll-behavior: smooth;
}

body {
  font-family: "Barlow";
  line-height: 1.6;
  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: hsl(0, 0%, 100%);
}

.hero {
  min-height: 100vh;
  display: grid;
  grid-template-rows: 10vh 10vh 20vh 60vh;
  align-items: center;
  padding: 1rem;
  color: hsl(0, 0%, 100%);
  background-repeat: no-repeat;
  background-size: 35px, cover;
}
.hero-title {
  grid-row: 3;
  font-size: 54px;
  text-align: center;
  line-height: 3rem;
}
.hero .header {
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero .header .nav-list {
  display: flex;
  gap: 1rem;
}
.hero .header .nav-link {
  color: hsl(0, 0%, 100%);
  font-weight: 600;
  text-decoration: none;
  border-radius: 30px;
  padding-block: 0.6rem;
}
.hero .header .nav-link:hover {
  background-color: hsla(0, 0%, 100%, 0.25);
}

.features {
  min-height: 100vh;
  display: grid;
}
.features article {
  min-height: inherit;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: grid;
  place-content: center;
  gap: 1.5rem;
}
.features article p {
  color: hsl(212, 27%, 19%);
}
.features .block-1 a, .features .block-3 a {
  width: fit-content;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14.4px;
  color: black;
}
.features .block-1 a::after, .features .block-3 a::after {
  content: "";
  display: block;
  width: 100%;
  height: 6px;
  border-radius: 30px;
  margin-top: -10px;
}
.features .block-1 a:hover::after {
  background-color: hsl(51, 100%, 49%);
}
.features .block-1 a::after {
  background-color: hsl(51, 100%, 79%);
}
.features .block-3 a:hover::after {
  background-color: hsl(7, 99%, 70%);
}
.features .block-3 a::after {
  background-color: hsl(7, 99%, 90%);
}
.features .block-5, .features .block-6 {
  place-content: end;
  text-align: center;
}

.testimonial {
  min-height: 100vh;
  display: grid;
}
.testimonial-title {
  text-align: center;
  text-transform: uppercase;
  color: hsl(212, 27%, 19%);
}
.testimonial-card {
  justify-self: start !important;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  text-align: center;
  padding: 1rem;
}
.testimonial-image {
  width: 50px;
  border-radius: 50%;
}
.testimonial-role {
  color: hsl(212, 27%, 19%);
}

.gallery {
  min-height: 60vh;
}
.gallery-item {
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}

.footer {
  min-height: 40vh;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  place-content: center;
  place-items: center;
  justify-items: center;
  text-align: center;
  padding-block: 1.5rem;
  background-color: hsl(168, 34%, 41%);
}
.footer a {
  color: hsl(167, 40%, 24%);
  text-decoration: none;
}
.footer a:hover {
  color: hsl(0, 0%, 100%);
}
.footer a:hover img {
  background-color: hsl(0, 0%, 100%);
  border-radius: 4px;
}
.footer-logo {
  grid-row: 1;
  font-size: 36px;
  font-weight: 900;
}
.footer-links {
  grid-row: 2;
  display: flex;
  gap: 2rem;
}
.footer .social-links {
  grid-row: 4;
  display: flex;
  gap: 2rem;
}

h1, h2, h3, .feature-link {
  font-family: "Fraunces";
  font-weight: 900;
}

ul {
  list-style: none;
}

@media screen and (max-width: 42rem) {
  .hero {
    background-image: url("../images/icon-arrow-down.svg"), url("../images/mobile/image-header.jpg");
    background-position: 50% 65%, center;
  }
  .hero .nav {
    display: none;
  }
  .features {
    grid-template-columns: 1fr;
  }
  .features article {
    padding: 1.5rem;
    text-align: center;
  }
  .features .feature-link {
    place-self: center;
  }
  .features .block-2 {
    background-image: url("../images/mobile/image-transform.jpg");
  }
  .features .block-4 {
    background-image: url("../images/mobile/image-stand-out.jpg");
  }
  .features .block-5 {
    background-image: url("../images/mobile/image-graphic-design.jpg");
  }
  .features .block-6 {
    background-image: url("../images/mobile/image-photography.jpg");
  }
  .testimonial {
    padding-block: 2rem;
    row-gap: 2rem;
  }
  .gallery {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .gallery .block-1 {
    grid-row: 1;
    grid-column: 1;
    background: url("../images/mobile/image-gallery-milkbottles.jpg");
  }
  .gallery .block-2 {
    grid-row: 1;
    grid-column: 2;
    background: url("../images/mobile/image-gallery-orange.jpg");
  }
  .gallery .block-3 {
    grid-row: 2;
    grid-column: 1;
    background: url("../images/mobile/image-gallery-cone.jpg");
  }
  .gallery .block-4 {
    grid-row: 2;
    grid-column: 2;
    background: url("../images/mobile/image-gallery-sugar-cubes.jpg");
  }
}
@media screen and (min-width: 42rem) {
  .hero {
    background-image: url("../images/icon-arrow-down.svg"), url("../images/desktop/image-header.jpg");
    background-position: center;
  }
  .hero .nav-link {
    padding-inline: 0.25rem;
  }
  .features {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 2fr 2fr 2fr;
  }
  .features article {
    padding: 2rem 5rem;
  }
  .features .block-1 {
    grid-row: 1;
    grid-column: 1;
  }
  .features .block-2 {
    grid-row: 1;
    grid-column: 2;
    background-image: url("../images/desktop/image-transform.jpg");
  }
  .features .block-3 {
    grid-row: 2;
    grid-column: 2;
  }
  .features .block-4 {
    grid-row: 2;
    grid-column: 1;
    background-image: url("../images/desktop/image-stand-out.jpg");
  }
  .features .block-5 {
    grid-row: 3;
    grid-column: 1;
    background-image: url("../images/desktop/image-graphic-design.jpg");
  }
  .features .block-6 {
    grid-row: 3;
    grid-column: 2;
    background-image: url("../images/desktop/image-photography.jpg");
  }
  .testimonial {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 2fr;
  }
  .testimonial-title {
    grid-row: 1;
    grid-column: 2;
    justify-self: center;
    align-self: center;
  }
  .testimonial .block-1 {
    grid-row: 2;
    grid-column: 1;
  }
  .testimonial .block-2 {
    grid-row: 2;
    grid-column: 2;
  }
  .testimonial .block-3 {
    grid-row: 2;
    grid-column: 3;
  }
  .gallery {
    display: flex;
  }
  .gallery-item {
    flex: 1;
  }
  .gallery .block-1 {
    background: url("../images/desktop/image-gallery-milkbottles.jpg");
  }
  .gallery .block-2 {
    background: url("../images/desktop/image-gallery-orange.jpg");
  }
  .gallery .block-3 {
    background: url("../images/desktop/image-gallery-cone.jpg");
  }
  .gallery .block-4 {
    background: url("../images/desktop/image-gallery-sugarcubes.jpg");
  }
}
@media screen and (min-width: 64rem) {
  .hero {
    padding: 2rem;
  }
  .hero .nav-link {
    padding-inline: 1.5rem;
  }
}

/*# sourceMappingURL=style.css.map */
