// Variables
$colors: (
  // Couleurs primaires
  'soft-red': hsl(7, 99%, 70%),
  'yellow': hsl(51, 100%, 49%),
  'dark-cyan': hsl(167, 40%, 24%),
  'dark-blue': hsl(198, 62%, 26%),
  'moderate-cyan': hsl(168, 34%, 41%),
  
  // Couleurs neutres
  'very-dark-blue': hsl(212, 27%, 19%),
  'very-dark-grayish-blue': hsl(213, 9%, 39%),
  'dark-grayish-blue': hsl(232, 10%, 55%),
  'grayish-blue': hsl(210, 4%, 67%),
  'white': hsl(0, 0%, 100%)
);

$font-sizes: (
  'body': 18px
);

$fonts: (
  'barlow': 'Barlow',
  'fraunces': 'Fraunces'
);

$font-weights: (
  'semi-bold': 600,
  'bold': 700,
  'black': 900
);

// Variables des medias queries
$sm: 42rem;
$md: 48rem;
$xl: 64rem;

// Mixins
@mixin grid($r, $c) { grid-row: $r; grid-column: $c; }

@mixin font-barlow {
  font-family: map-get($fonts, 'barlow');
}

@mixin font-fraunces {
  font-family: map-get($fonts, 'fraunces');
}

// Reset et styles de base
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: map-get($font-sizes, 'body');
  scroll-behavior: smooth;
}

body {
  @include font-barlow;
  line-height: 1.6;

  min-height: 100vh;
  display: grid;
  place-content: center;
  background-color: map-get($colors, 'white');
}

.hero {
    min-height: 100vh;
    display: grid;
    grid-template-rows: 10vh 10vh 20vh 60vh;
    align-items: center;
    padding: 1rem;
    color: map-get($colors, 'white');
    background-repeat: no-repeat;
    background-size: 35px, cover;

    &-title { 
        grid-row: 3;
        font-size: map-get($map: $font-sizes, $key: body)*3; 
        text-align: center; 
        line-height: 3rem;
    }

    .header {
        grid-row: 1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .nav {
            &-list {
                display: flex;
                gap: 1rem;
            }
            &-link {
                color: map-get($colors, 'white');
                font-weight: map-get($font-weights , 'semi-bold');
                text-decoration: none;
                border-radius: 30px;
                padding-block: 0.6rem;

                &:hover { background-color: hsla(0, 0%, 100%, 0.25); }
            }
        }
    }
}

.features {
    min-height: 100vh;
    display: grid;

    article {
        min-height: inherit;
        background-position: center;
        background-size: cover ;
        background-repeat: no-repeat;
        display: grid;
        place-content: center;
        gap: 1.5rem;

        p { color: map-get($map: $colors, $key: 'very-dark-blue'); }
    }

    .block-1 a, .block-3 a { 
        width: fit-content;
        text-transform: uppercase;
        text-decoration: none;
        font-size: map-get($map: $font-sizes, $key: body)*0.8;
        color: black;

        &::after {
            content: "";
            display: block;
            width: 100%;
            height: 6px;
            border-radius: 30px;
            margin-top: -10px;
        }
    } 
    .block-1 {
        & a:hover::after { background-color: map-get($map: $colors, $key: "yellow") }
        a::after { background-color: lighten($color: map-get($map: $colors, $key: "yellow"), $amount: 30);}
    } 
    .block-3 {
        & a:hover::after { background-color: map-get($map: $colors, $key: "soft-red") }
        a::after { background-color: lighten($color: map-get($map: $colors, $key: "soft-red"), $amount: 20);}
    }
    .block-5, .block-6 { 
        place-content: end;
        text-align: center
    }
}

.testimonial {
    min-height: 100vh;
    display: grid;

    &-title { 
        text-align: center; 
        text-transform: uppercase; 
        color: map-get($map: $colors, $key: very-dark-blue)
    }
    &-card {
        justify-self: start !important;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        gap: 1rem;
        text-align: center;
        padding: 1rem;
    }
    &-image {
        width: 50px;
        border-radius: 50%;
    }
    &-role { color: map-get($map: $colors, $key: very-dark-blue)}
}

.gallery {
    min-height: 60vh;
    
    &-item {
        background-position: center !important;
        background-size: cover !important;
        background-repeat: no-repeat !important;
    }
}

.footer {
    min-height: 40vh;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    place-content: center;
    place-items: center;
    justify-items: center;
    text-align: center;
    padding-block: 1.5rem;
    background-color: map-get($map: $colors, $key: moderate-cyan);

    a {
        color: map-get($map: $colors, $key: dark-cyan);
        text-decoration: none;
        
        &:hover { color: map-get($map: $colors, $key: "white"); }
        &:hover img { 
            background-color: map-get($map: $colors, $key: "white"); 
            border-radius: 4px;
        }
    }

    &-logo { 
        grid-row: 1;
        font-size: map-get($map: $font-sizes, $key: body)*2;
        font-weight: map-get($map: $font-weights, $key: "black");
    }
    &-links {
        grid-row: 2;
        display: flex;
        gap: 2rem;
    }
    .social-links {
        grid-row: 4;
        display: flex;
        gap: 2rem;
    }
}

// global styles
h1, h2, h3, .feature-link {
  @include font-fraunces;
  font-weight: map-get($map: $font-weights, $key: 'black');
}
ul { list-style: none; }

// Medias queries
@media screen and (max-width: $sm) {
    .hero {
        background-image: url("../images/icon-arrow-down.svg"), url('../images/mobile/image-header.jpg');
        background-position: 50% 65%, center;        
        // -> À GERER
        .nav { display: none;}
    }
    .features {
        grid-template-columns: 1fr;

        article { padding: 1.5rem; text-align: center; }
        
        .feature-link { place-self: center; }
        .block-2 { background-image: url("../images/mobile/image-transform.jpg"); }
        .block-4 { background-image: url("../images/mobile/image-stand-out.jpg"); }
        .block-5 { background-image: url("../images/mobile/image-graphic-design.jpg"); }
        .block-6 { background-image: url("../images/mobile/image-photography.jpg"); }
    }
    .testimonial {
        padding-block: 2rem;
        row-gap: 2rem;
    }
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;

        .block-1 { @include grid(1, 1); background: url("../images/mobile/image-gallery-milkbottles.jpg") }
        .block-2 { @include grid(1, 2); background: url("../images/mobile/image-gallery-orange.jpg") }
        .block-3 { @include grid(2, 1); background: url("../images/mobile/image-gallery-cone.jpg") }
        .block-4 { @include grid(2, 2); background: url("../images/mobile/image-gallery-sugar-cubes.jpg") }
    }
}
@media screen and (min-width: $sm) {
    .hero {
        background-image: url("../images/icon-arrow-down.svg"), url('../images/desktop/image-header.jpg');
        background-position: center;

        .nav-link { padding-inline: 0.25rem; }
    }
    .features {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 2fr 2fr 2fr;

        article { padding: 2rem 5rem; }

        .block-1 { @include grid(1, 1); }
        .block-2 { @include grid(1, 2);
            background-image: url("../images/desktop/image-transform.jpg");
        }
        .block-3 { @include grid(2, 2); }
        .block-4 { @include grid(2, 1); 
            background-image: url("../images/desktop/image-stand-out.jpg");
        }
        .block-5 { @include grid(3, 1); 
            background-image: url("../images/desktop/image-graphic-design.jpg");
        }
        .block-6 { @include grid(3, 2); 
            background-image: url("../images/desktop/image-photography.jpg");
        }
    }
    .testimonial {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 2fr;

        &-title {
            @include grid(1, 2);
            justify-self: center;
            align-self: center;
        }
        .block-1 {
            @include grid(2, 1)
        }
        .block-2 {
            @include grid(2, 2)
        }
        .block-3 {
            @include grid(2, 3)
        }
    }
    .gallery {
        display: flex;
        &-item { flex: 1; }
        .block-1 { background: url("../images/desktop/image-gallery-milkbottles.jpg") }
        .block-2 { background: url("../images/desktop/image-gallery-orange.jpg") }
        .block-3 { background: url("../images/desktop/image-gallery-cone.jpg") }
        .block-4 { background: url("../images/desktop/image-gallery-sugarcubes.jpg") }
    }
}
@media screen and (min-width: $xl) {
    .hero { padding: 2rem;
    .nav-link { padding-inline: 1.5rem; }}
}
